@font-face {
    font-family: "vazir";
    src: url(./font/vazir.ttf);
}

.fa {
    font-family: "vazir";
}

.animnavbar {
    transition: all 2s;
}

.animnavbar:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

.animnavbar:hover {
    color: #fff;
    z-index: 1;
}

.animnavbar:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

@-webkit-keyframes animnavbar {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}


/* Circle */

.animnavbar {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.animnavbar:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
}

.animnavbar:hover:after {
    -webkit-animation: animnavbar 3s ease-in forwards;
}


/* Keyframes */

@-webkit-keyframes animnavbar {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        opacity: 100%;
        height: 1px;
        z-index: -1;
        background: #aaa9a9;
        border-radius: 100%;
    }
    100% {
        background: #272626;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        opacity: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, hsl(36, 100%, 50%) 0%, #000000 29%, hsl(36, 100%, 50%)67%, #fa8500 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 2rem;
    margin-left: auto;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}